/2024.1.00993.S_uid___A001_X3835_X77.ADMIT.tgz
/auth?response_type=code&scope=openid&client_id=nrao_bulk&state=296OZqaXn-UDl1iGzKe8fUXm9k8&redirect_uri=https:%2F%2Fbulk.cv.nrao.edu%2Flogin_redir&nonce=N9efmZYOo9Iq6ARlnFomfizjepYSLSv6ZswmsvDTbbs.html
/auth?response_type=code&scope=openid&client_id=nrao_bulk&state=DOg5wAL6pOnGe0Et_g6SB9gJDJw&redirect_uri=https:%2F%2Fbulk.cv.nrao.edu%2Flogin_redir&nonce=xqU29Jco3uTnBozeBdehYsDBX9wPxBdlOAyiBtxuZB0.html
/auth?response_type=code&scope=openid&client_id=nrao_bulk&state=Uvp_Ah9QJkplLDsk4hjxjI6I8c0&redirect_uri=https:%2F%2Fbulk.cv.nrao.edu%2Flogin_redir&nonce=eGl13Fb_s2WI5a5Cg_ZmRdvR0zE9FjRXP10UTq_z8rI.html
/auth?response_type=code&scope=openid&client_id=nrao_bulk&state=aZ_F7wHNQJ5n01PG72VvrTMSlNA&redirect_uri=https:%2F%2Fbulk.cv.nrao.edu%2Flogin_redir&nonce=gSnFpkBn76RlY77ca0GVd8OvzHdD6Vo7ycE8KHAi6rE.html
/calibrated_final.tgz